/* IE 12+ (Edge) fixes */

@supports (-ms-accelerator:true) {
	#home-tabs .tab {
		border-left:0.85px solid white;
		border-right:0.85px solid white;
	}
	#home-tabs .tab:first-child {
		border-left:0;
	}
	#home-tabs .tab.last {
		border-right:0;
	}
	#home-tabs .tab.active {
		margin-left:0;
	}
	#home-tabset2 {
		width:99.99%;
	}
} 
